
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d9d9d9;
}

body {
    background: #3498db;
    background: -webkit-linear-gradient(to right, white, rgb(48, 129, 255));
    background: linear-gradient(to right, white, rgb(48, 129, 255));
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    border: 1px solid #000000
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background: white;
}

.header h2 {
    color: #000000
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background: white;
}

.content-small {
    background: white;
}

.container1 {
    text-align: center;
    margin-top: 18%;
    width: 100vw;
    height: 50vh;
}

.shakeMe {
    padding: .5em 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border-radius: .1em;
    border: 0px;
    color: whitesmoke;
    background: #D31027;
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);
    background: linear-gradient(to right, #EA384D, #D31027);
    animation: shake .8s ease-in;
}

@keyframes shake{
    0%{
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(.8em);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    }
    10%,
    30%,
    50%{
        transform: translate(-.2em);
    }
    70%,
    100%{
        transform: translate(0);
    }
}

.scontent {
    font-size: 100px;
    background: #3498db;
    background: -webkit-linear-gradient(to right, white, rgb(48, 129, 255));
    background: linear-gradient(to right, white, rgb(48, 129, 255));
    transition: 0.3s;
    padding: 0 2px;
}

.mainscreen {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.4);
	color:white;
	font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.mcontent {
    width: 100vw;
    height: 80vh;
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
  }
  
  .main-content {
    display: flex;
  }
  
  .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  
  .box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .box .content {
    margin: 20px 0 0 0;
    position: relative;
  }
  
  .box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  
  .box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: rgb(108, 194, 224);
    top: -10px;
  }
  
  .left .content p {
    text-align: justify;
  }
  
  .left .content .social {
    margin: 20px 0 0 0;
  }
  
  .left .content .social a {
    padding: 0 2px;
  }
  
  .left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .left .content .social a span:hover {
    background: rgb(108, 194, 224);
  }
  
  .center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .center .content .fas:hover {
    background: rgb(108, 194, 224);
  }
  
  .center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  
  .center .content .phone {
    margin: 15px 0;
  }
  
  .right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  
  .right form .msg {
    margin-top: 10px;
  }
  
  .right form input, .right form .msgForm {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  
  .right form input:focus,
  .right form .msgForm:focus {
    outline-color: #3498db;
  }
  
  .right form input {
    height: 35px;
  }
  
  .right form .btn {
    margin-top: 10px;
  }
  
  .right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: rgb(108, 194, 224);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  
  .right form .btn button:hover {
    background: rgb(108, 194, 224);
  }
  
  .bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  
  .bottom center span {
    color: #656565;
  }
  
  .bottom center a {
    color: rgb(108, 194, 224);
    text-decoration: none;
  }
  
  .bottom center a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 900px) {
	footer {
	  position: relative;
	  bottom: 0px;
	}

	.main-content {
	  flex-wrap: wrap;
	  flex-direction: column;
	}
	
	.main-content .box {
	  margin: 5px 0;
	}
}